body{
    background-color: aliceblue;
}

.first{
    background-color: aliceblue;
    color: black;
    display: inline;
}
.first a{
    text-decoration: none;
}

.first ul,li{
    display: inline;
}
.menu-toggle{
    display: none;
}

h4{
    display: inline;
    margin-left: 30px;
}

.first ul{
    margin-left: 60%;
}

.first li{
    margin-right: 25px;
}
.abouts{
    text-align: center;
    color: purple;
    text-decoration: underline;
}
.photos{
    width: 270px;
    height: 300px;
    float: left;
    margin-top: 100px;
    margin-left: 150px;
}
.center{
    text-align: center;
    margin-top: 200px;
}
.names{
    font-style: italic;
}
p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    transform: translateX(200px);
}
.resume-link:hover {
    color: black;
}
.resume-link {
    color: white;
    background-color: purple;
    margin: 10px;
    margin-left: -2px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
h2{
    text-align: center;
}

@media (max-width: 1024px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 35%;
    }

    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }
    .abouts{
        text-align: center;
        text-decoration: underline;
        color: purple;
    } 
    p{
        transform: translateX(60px);
    } 
    .center{
        margin-top: 150px;
    }

}

@media (max-width: 768px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 1%;
    }

    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }
    .center{
        margin: auto;
        float: none;
    }
    .photos{
        float: none;
        margin: 20px auto;
        display: block;
        margin-top: 20px;
    }
    p{
        transform: none;
        width: 300px;
        text-align: center;
    }

}

@media (max-width: 480px) {
    .first ul{
        margin-left: 10px;
    }
    h4{
        display: block;
        margin-right: 10px;
    }
    .center{
        margin: auto;
        float: none;
    }
    .photos{
        float: none;
        margin: 20px auto;
        display: block;
        margin-top: 20px;
    }
    p{
        transform: none;
        width: none;
        text-align: center;
    }
}
    
