body{
    background-color: aliceblue;
}
.first{
    background-color: aliceblue;
    color: black;
    display: inline;
}
.first a{
    text-decoration: none;
}

.first ul,li{
    display: inline;
}

h4{
    display: inline;
    margin-left: 30px;
}

.first ul{
    margin-left: 60%;
}

.first li{
    margin-right: 25px;
}
.abouts{
    text-align: center;
    text-decoration: underline;
    color: purple;
}
.names{
    margin-left: 50px;
    font-style: italic;
    margin-top: 150px;
    text-align: center;
}
p{
    text-align: center;
    margin-left: 50px;
}

.photos{
    width: 270px;
    height: 300px;
    overflow: hidden;
    float: left;
    margin-top: 80px;
    margin-left: 150px;
}
.resume-link:hover {
    color: black;
}
.resume-link {
    color: white;
    background-color: purple;
    margin: 10px;
    margin-left: -2px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
h2{
    text-align: center;
}

@media (max-width: 1024px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 35%;
    }

    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }

    .photos{
        float: none;
        margin: 20px auto;
        display: block;
        margin-top: 20px;
    }
    .abouts {
        margin: 0px auto;
        display: block;
        margin-top: 30px;
    }
    .names{
        margin-top: 60px;
        text-align: center;
        margin-left: 0px;
    }
    p{
        text-align: center;
        margin: auto;
        margin-left: 50px;
        margin-right: 50px;
    }
    h2{
        text-align: center;
    }

}

@media (max-width: 768px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 1%;
    }

    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }
    .photos{
        float: none;
        margin: 20px auto;
        display: block;
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
    .first ul{
        margin-left: 10px;
    }
    h4{
        display: block;
        margin-right: 10px;
    }
    .photos{
        float: none;
        margin: 20px auto;
        display: block;
        margin-top: 30px;
    }
    p{
        text-align: center;
    }
    .resume-link{
        text-align: center;
    }

}
    
