body{
    background-color: aliceblue;
}

.first{
    background-color: aliceblue;
    color: black;
    display: inline;
}
.first a{
    text-decoration: none;
}

.first ul,li{
    display: inline;
}

h4{
    display: inline;
    margin-left: 30px;
}

.first ul{
    margin-left: 60%;
}

.first li{
    margin-right: 25px;
}
.projecthead {
    text-align: center;
    text-decoration: underline;
    color: purple;
}
.project-details {
    display: inline-block;
    padding-left: 60px;
}
.socialcon{
    margin-right: 1000px;
}
.birdscon{
    margin-left: 1000px;
}
.birdshead{
    margin-left: 1000px;
}
.project-images img {
    display: inline-block;
    height: 350px;
    width: 350px;
    padding-left: 80px;
}
.project-details1 {
    float: right;
    margin-top: -540px;
    padding-right: 60px;
    margin-left: -50px;
}
.project-images1 img{
    float: right;
    width: 350px;
    height: 350px;
    margin-top: -350px;
    padding-right: 180px;
}

@media (max-width: 1024px) {
    .first {
        flex-direction: column;
        text-align: center;
    }
    
    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 35%;
    }
    
    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }
    .project-details {
        display: block;
        margin: 0 auto;
    }
    .socialcon{
        margin-right: 50px;
    }
    .project-images img {
        display: block;
        float: none;
        height: 250px;
        width: 250px;
        margin: 0 auto;
        
    }
    .project-images{
        margin-right: 50px;
    }
    .birdshead{
        margin-left: 50px;
    }
    .birdscon{
        margin-left: 50px;
    }
    .project-details1 {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .project-images1 img{
        display: block;
        float: none;
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    .project-images1{
        margin-left: 200px;
    }
    
}

@media (max-width: 768px) {
    .first {
        flex-direction: column;
        text-align: center;
    }
    
    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 1%;
    }
    
    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }    .socialcon{
        margin-right: 50px;
    }
    .project-images img {
        display: block;
        float: none;
        height: 250px;
        width: 250px;
        margin: 0 auto;
        
    }
    .project-images{
        margin-right: 50px;
    }
    .birdshead{
        margin-left: 50px;
    }
    .birdscon{
        margin-left: 50px;
    }
    .project-details1 {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .project-images1 img{
        display: block;
        float: none;
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    .project-images1{
        margin-left: 200px;
    }
}
@media (max-width: 480px) {
    .first ul{
        margin-left: 10px;
    }
    h4{
        display: block;
        margin-right: 10px;
    }
    .socialcon{
        margin-right: 50px;
    }
    .project-images img {
        display: block;
        float: none;
        height: 250px;
        width: 250px;
        margin: 0 auto;
        
    }
    .project-images{
        margin-right: 50px;
    }
    .birdshead{
        margin-left: 50px;
    }
    .birdscon{
        margin-left: 50px;
    }
    .project-details1 {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .project-images1 img{
        display: block;
        float: none;
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    .project-images1{
        margin-left: 200px;
    }
}
    
