body{
    background-color: aliceblue;
}

.first{
    background-color: aliceblue;
    color: black;
    display: inline;
}
.first a{
    text-decoration: none;
}

.first ul,li{
    display: inline;
}
.menu-toggle{
    display: none;
}

h4{
    display: inline;
    margin-left: 30px;
}

.first ul{
    margin-left: 60%;
}

.first li{
    margin-right: 25px;
}

.second{
    padding: 200px;
}
h3{
    color: #3c3b3b;
}
.photostyle{
    border-radius: 50%;
    height: 300px;
    width: 275px;
    float: right;
    margin-right: 100px;
    margin-top: -20px;
}
.text{
    display: inline-block;
    margin-top: -200px;
    margin-left: 150px;
}
.third{
    color: blue;
    margin-left: 150px;
}
p{
    margin-left: 150px;
}

.names{
    font-style: italic;
    margin-top: -140px;
    margin-left: 150px;
}

.linkedin1 {
    width: 30px;
    display: inline-block; 
}

.linkedinlogo {
    width: 100%; 
    height: auto;
    margin-top: 60px; 
    margin-left: 150px;
}

.contacts a{
    color: white;
    margin-top: 30px;
    padding: 10px;
    background-color: purple;
    display: inline-block;
    text-decoration: none;
    margin-left: 150px;
}

.github1 {
    width: 30px;
    display: inline-block; 
}

.githublogo {
    width: 100%; 
    height: auto;
    margin-top: 60px; 
    margin-left: 150px;
}

@media (max-width: 1024px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 35%;
    }

    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }

    .second {
        padding: 50px 20px;
    }

    .photostyle {
        float: none;
        margin: 20px auto;
        display: block;
    }

    .text, .third, p, .names, .linkedinlogo, .githublogo, .contacts a {
        margin-left: 0;
        text-align: center;
        display: block;
        margin-top: 20px;
    }

    .names {
        margin-top: 0;
    }
    .contacts a {
        display: inline-block;
    }
    .contacts {
        text-align: center;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .first {
        flex-direction: column;
        text-align: center;
    }

    .first ul {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-left: 5%;
    }

    .first li {
        margin: 10px 0;
        margin-right: 10px;
    }

    .second {
        padding: 50px 20px;
    }

    .photostyle {
        float: none;
        margin: 20px auto;
        display: block;
    }

    .text, .third, p, .names, .linkedinlogo, .githublogo, .contacts a {
        margin-left: 0;
        text-align: center;
        display: block;
        margin-top: 20px;
    }

    .names {
        margin-top: 0;
    }
    .contacts a {
        display: inline-block;
    }
    .contacts {
        text-align: center;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .first ul{
        margin-left: 10px;
    }
    h4{
        display: block;
        margin-right: 10px;
    }

    .photostyle {
        height: 200px;
        width: 175px;
    }

    .contacts a {
        padding: 5px;
        margin-top: 10px;
        display: inline-block;
    }
    .contacts{
        text-align: center;
    }
    .logo {
        display: flex;
        justify-content: center;
    }

    }
    
