body{
    background-color: aliceblue;
}

.first{
    background-color: aliceblue;
    color: black;
    display: inline;
}
.first a{
    text-decoration: none;
}

.first ul,li{
    display: inline;
}

h4{
    display: inline;
    margin-left: 30px;
}

.first ul{
    margin-left: 60%;
}

.first li{
    margin-right: 25px;
}

.second{
    padding: 200px;
}
h3{
    color: #3c3b3b;
}
.photostyle{
    border-radius: 50%;
    height: 300px;
    width: 275px;
    float: right;
    margin-right: 100px;
    margin-top: -20px;
}
.text{
    display: inline-block;
    margin-top: -200px;
    margin-left: 150px;
}
.third{
    color: blue;
}

.names{
    font-style: italic;
}
.names{
    color: black;
}

.linkedin1 {
    width: 30px;
    display: inline-block; 
}

.linkedinlogo {
    width: 100%; 
    height: auto;
    margin-top: 60px; 
}

.contacts a{
    color: white;
    margin-top: 30px;
    background-color: purple;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

.github1 {
    width: 30px;
    display: inline-block; 
}

.githublogo {
    width: 100%; 
    height: auto;
    margin-top: 60px; 
}

@media only screen and (max-width: 768px) {
    body{
        background-color: aliceblue;
    }
    .first{
        background-color: aliceblue;
        color: black;
        display: inline;
    }
    .first a{
        text-decoration: none;
    }
    
    .first ul,li{
        display: inline;
    }
    
    h4{
        display: block;
        margin-left: 0px;
    }
    
    .first ul{
        margin-left: -20px;
    }
    .first li{
        margin-left: -20px;
    }
    
    .photostyle {
        border-radius: 50%;
        height: 300px;
        width: 275px;
        position: absolute;
        top: 40%;
        left: 50%;
        padding-top: 80px;
        transform: translate(-50%, -50%);
    }
    .second{
        padding: 200px;
    }
    h3{
        color: #3c3b3b;
    }
    .text{
        margin-top: -30px;
        margin-left: 50px;
    }
    .text .third{
        display: block;
    }
    .text h3 {
        display: inline;
    }
}
